.button {
    color: var(--color-primary);
    border: 1px solid var(--button-color);
    background: var(--button-color);
    cursor: pointer;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 4px;
}

.Navbar {
    display: flex;
    padding: 20px 0;
    flex-wrap: wrap;
    gap: 20px;
}

.ErrorBlock {
    width: 100%;
    margin-top: 20px;

    h2 {
        color: var(--color-error);
        font-size: 22px;
        margin-bottom: 10px;
    }

}